@font-face {
  font-family: "Paperlogy-8ExtraBold";
  src: url("./fonts/Paperlogy-8ExtraBold.ttf") format("truetype");
}


html {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Paperlogy-8ExtraBold";
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  color: rgba(255, 255, 255, 0.87);
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


button {
  border-radius: 8px;
  cursor: pointer;
}