@font-face {
  font-family: "Paperlogy-8ExtraBold";
  src: url("./fonts/Paperlogy-8ExtraBold.ttf") format("truetype");
}

body {
  font-family: "Paperlogy-8ExtraBold";
  margin: 0;
  background-color: #ffffff;
  color: rgba(255, 255, 255, 0.87);
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
}